extends layout 
block content 

.row.banner
  .col-12
    h1= title

.row

  .col-12.col-md-8

    p This application was created to help people find places to sit down with free public wifi and get some work done. 

    <br> 
    <br>

    p If you've been to a place with free wifi and a seat, and you've verified that it has free wifi, please add it to our database.