extends layout

block content
  .row.banner   
    .col-12   
      h1 Loc8r 
        small &nbsp; Find places to work with wifi near you!


  .row
    .col-12.col-md-8 
      .card 
        .card-block   
          h4 
            a(href="/location") Starcups 
            small &nbsp; 
              i.fas.fa-star 
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
              p.address 125 High Street, Reading, RG6 1PS 
              p.facilities
                
                span.badge.badge-warning Hot Drinks 
                span.badge.badge-success Food 
                span.badge.badge-primary Power
                span.badge.badge-secondary Wifi
        
 
  .row
    .col-12.col-md-8 
      .card 
        .card-block   
          h4 
            a(href="/location") OneStopCoffe
            small &nbsp; 
              i.fas.fa-star 
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
              p.address 125 High Street, Reading, RG6 1PS 
              p.facilities
                
                span.badge.badge-warning Hot Drinks 
                span.badge.badge-success Food 
                span.badge.badge-primary Power
                span.badge.badge-secondary Wifi
    .col-12.col-md-4 
      p.lead Looking for wifi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you're looking for.
        
   
  .row
    .col-12.col-md-8 
      .card 
        .card-block   
          h4 
            a(href="/location") Burger Queen
            small &nbsp; 
              i.fas.fa-star 
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
              p.address 125 High Street, Reading, RG6 1PS 
              p.facilities
                
                span.badge.badge-warning Hot Drinks 
                span.badge.badge-success Food 
                span.badge.badge-primary Power
                span.badge.badge-secondary Wifi
        
