extends layout

block content
  .row
    .col-12.banner
      h1 Starcups

  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          .rating
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
          p.rating-text 125 High Street, Reading, RG6 1PS

        .col-12.col-md-6
          .card.card-primary
            .card-block
              h2.card-title Opening hours
              p.card-text Monday - Friday : 7:00am - 7:00pm
              p.card-text Saturday : 8:00am - 5:00pm
              p.card-text Sunday : closed

      .row
        .col-12.col-md-6
          .card.card-primary
            .card-block
              h2.card-title Facilities
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Hot drinks
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Food
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Premium wifi

        .col-12.col-md-6.location-map
          .card.card-primary
            .card-block
              h2.card-title Location map
              img.img-fluid.rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2&key=AIzaSyByzNeh3iHM4mdffwkIl8jYIZr2ZUobn5Q', alt='Location map')

  .row
    .col-12
      .card.card-primary.review-card
        .card-block
          a.btn.btn-primary.float-right(href='/location/review/new') Add review
          h2.card-title Customer reviews

  .row
    .col-12.review
      .review-header.no-gutters
        .rating
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
          i.far.fa-star
          i.far.fa-star
        .review-author Author Simon Holmes
        small.review-timestamp Timestamp 16 February 2017
      .col-12
        p What a great place.

  .row
    .col-12.review
      .review-header.no-gutters
        .rating
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
          i.far.fa-star
          i.far.fa-star
        .review-author Author Simon Holmes
        small.review-timestamp Timestamp 16 February 2017
      .col-12

        p What a great place.


